.title-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(var(--color-text-light));
    text-decoration: none;
}
.title-link:hover {
    color: rgb(var(--color-text-lighter));
}
